.Pcard {
    background-color: #ccc;
    padding: 2px 8px;
    border-radius: 12px;
    margin-top: 2rem;

    .check_circule {
        background: black;
        color: white;
        border-radius: 50%;

    }
}
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;

    .page-num{
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 3px;
        font-weight: 400;
        border: 1px solid #d1d6db;
        &:hover{
            background-color: #5AB1BB;
            color: white;
        }
        .active{
            background-color: #5AB1BB;
        }
    }
}